---
global:
  resolve_timeout: "{{ monitoring_stack_alertmanager_resolve_timeout }}"

route:
  receiver: "{{ 'webhook' if monitoring_stack_alertmanager_webhook_url | length > 0 else 'null' }}"
  group_by:
    - alertname
    - instance
  group_wait: "{{ monitoring_stack_alertmanager_group_wait }}"
  group_interval: "{{ monitoring_stack_alertmanager_group_interval }}"
  repeat_interval: "{{ monitoring_stack_alertmanager_repeat_interval }}"

receivers:
  - name: "null"
{% if monitoring_stack_alertmanager_webhook_url | length > 0 %}
  - name: webhook
    webhook_configs:
      - url: "{{ monitoring_stack_alertmanager_webhook_url }}"
        send_resolved: {{ monitoring_stack_alertmanager_webhook_send_resolved | bool | lower }}
{% endif %}

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal:
      - alertname
      - instance
